
 @font-face { font-style : bold; src: url("assets/fonts/NunitoBold.ttf"); font-family : "Nunito"; font-weight : 700;  }
 @font-face { font-style : bold; src: url("assets/fonts/QuicksandLight.ttf"); font-family : "Quicksand"; font-weight : 300;  }
 @font-face { font-style : normal; src: url("assets/fonts/AnekBanglaRegular.ttf"); font-family : "Anek Bangla"; font-weight : 400;  }
 @font-face { font-style : bold; src: url("assets/fonts/NunitoMedium.ttf"); font-family : "Nunito"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("assets/fonts/ReemKufiFunRegular.ttf"); font-family : "Reem Kufi Fun"; font-weight : 400;  }